* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
body {
  background: #78c1f3;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 10px;
  border: 2px solid white;
  border-radius: 20px;
  width: 70%;
  height: 80vh;
  margin: 20px auto;
  overflow-y: scroll;
  background-color: white;
}

.header {
  display: flex;
  gap: 10px;
  /* justify-content: center; */
  align-items: center;
  margin-top: 10px;
}

.todo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 10px;
  /* border: 1px solid black; */
  position: sticky;
  top: 0;
}

.lists {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.lists .tasks {
  display: flex;
  /* border: 1px solid black; */
  border-radius: 20px;
  padding: 15px;
  width: 50vw;
  gap: 10px;
  height: 10vh;
  border-bottom: 2px solid rgb(195, 192, 192);
  margin-bottom: 20px;
}

button {
  padding: 5px;
  border: none;
  border-radius: 20px;
  width: 4em;
  cursor: pointer;
  font-size: small;
}

#add {
  border-radius: 50%;
  width: 2em;
  background-color: rgb(109, 234, 109);
  font-size: medium;
}

input {
  height: 3em;
  width: 20em;
  border-radius: 30px;
  border: 2px solid rgb(195, 192, 192);
  padding: 10px;
  background-color: rgba(230, 236, 241, 0.886);
}

/* Responsive design */
/* phone */
@media (max-width: 480px) {
  .container {
    width: 90%;
    height: 90vh;
    font-size: small;
  }

  .todo {
    width: 100%;
    margin: 5px;
    gap: 2px;
  }

  .todo input {
    width: 80%;
  }

  #addButton {
    padding: 2px;
    border: none;
    border-radius: 20px;
    width: 2em;
  }

  .lists {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
  }

  .lists .tasks {
    width: 90%;
    display: flex;
    margin: 0 auto;
    min-height: fit-content;
    align-items: center;
  }

  .tasks button {
    padding: 3px;
    border: none;
    border-radius: 20px;
    min-width: fit-content;
  }
}

/* Tablet */
@media (min-width: 481px) and (max-width: 768px) {
  .container {
    width: 90%;
    background-color: #78c1f3;
  }

  .todo {
    width: 100%;
    margin: 5px;
    gap: 2px;
  }

  .lists {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
  }

  .lists .tasks {
    align-items: center;
  }
}
